<div class="signup">
  <div class="signup-left">
    <img src="/assets/img/bg-auth-left.png" alt="Productivity Background" class="signup-img">
    <div class="signup-left-content">
      <div class="flex items-center">
        <img src="/assets/img/logo.png" alt="">
        <span>ZenTask</span>
      </div>
      <h1 class="mb-16 text-[56px] font-semibold">
        Take your<br>productivity to the<br>next level.
      </h1>
      <p class="text-sm opacity-80">From Dile With Love !!!</p>
    </div>
  </div>

  <div class="signup-right-content">
    <div class="w-full max-w-md">
      <div class="flex justify-end mb-36">
        <button class="btn btn-outlined signin-btn" (click)="onSignIn()">
          Sign In
        </button>
      </div>
      <div>
        <h2 class="section-heading">Create an Account</h2>
        <p class="text-[#666] mb-8">It's Simple and Easy!</p>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <div class="form-group">
            <label>Full Name</label>
            <input class="z-input" formControlName="fullName" placeholder="Full Name">
            <p class="text-xs text-[#6E7391] mt-1">Information about the input</p>
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <input class="z-input" type="email" formControlName="email"placeholder="emmyadsure.web@gmail.com">
            <p class="text-xs text-[#6E7391] mt-1">Example: mail&#64;gmail.com</p>
          </div>
          <div class="form-group">
            <label>Enter Password</label>
            <div class="relative">
              <input class="z-input" [type]="isShowPassword ? 'text' : 'password'" formControlName="password"
                placeholder="Password">
              <button
                type="button"
                (click)="showPassword()"
                class="absolute right-3 top-1/2 transform -translate-y-1/2">
                <img *ngIf="!showPassword" class="w-5 h-5" src="/assets/icons/show-password.svg" alt="">
                <img *ngIf="showPassword" class="w-5 h-5" src="/assets/icons/hide-password.svg" alt="">
              </button>
            </div>
            <p class="text-xs text-[#6E7391] mt-1">Use 8 characters with an Uppercase, symbol and number</p>
          </div>
          <button type="submit" class="btn btn-primary signup-btn">Create Account</button>
        </form>
      </div>
    </div>
  </div>
</div>