<div>
  <div class="flex gap-6">
    <app-multi-filter
      [filterFields]="filterFields"
      (filtersChange)="onFiltersChange($event)"
    ></app-multi-filter>
    <button class="btn btn-primary" (click)="onCreateNew()">
      <z-i18n [key]="'Create New'"></z-i18n>
    </button>
  </div>
  
  <div class="mt-2">
    <z-table
      [columns]="columns"
      [rows]="rows"
      [tableClassName]="'custom-table-class'"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      (paginatorChange)="paginatorChange($event)"
      (clickRow)="clickRow($event)">
    >
    </z-table>
  </div>

  <ng-template #colorTemplate let-row>
    <div class="size-6 rounded" [style.backgroundColor]="row.color"></div>
  </ng-template>

  <ng-template #actionTemplate let-row>
    <div class="flex items-center gap-2">
      <!-- Edit Button -->
      <button 
        class="btn btn-primary"
        (click)="onEdit(row)"
        title="Edit">
        Edit
      </button>
    </div>
  </ng-template>
</div>