<div>
  <div class="flex gap-6">
    <app-multi-filter
      [filterFields]="filterFields"
      (filtersChange)="onFiltersChange($event)"
    ></app-multi-filter>
    <button class="btn btn-primary" (click)="onCreateNew()">
      <z-i18n [key]="'Create New'"></z-i18n>
    </button>
  </div>
  
  <div class="mt-2">
    <z-table
      [columns]="columns"
      [rows]="rows"
      [tableClassName]="'custom-table-class'"
      (sortChange)="sortChange($event)"
      (pageChange)="pageChange($event)"
      (paginatorChange)="paginatorChange($event)"
      (clickRow)="clickRow($event)">
    >
    </z-table>
  </div>

  <ng-template #colorCellTemplate let-row>
    <span [style.backgroundColor]="row.color" class="color-badge">{{ row.color }}</span>
  </ng-template>
</div>