<div class="my-profile">
  <form [formGroup]="form">
    <div class="relative">
      <img src="/assets/img/profile-bg.png" class="rounded" alt="">
      <ng-container *ngIf="user?.avatarUrl; else defaultAvatar">
        <img [src]="user.avatarUrl" alt="Avatar" class="avatar" />
      </ng-container>
      <ng-template #defaultAvatar>
        <img src="https://i.pravatar.cc/100" alt="Avatar" class="avatar" />
      </ng-template>
      <div class="my-profile-heading">
        <h2 class="section-heading ml-60">
          <z-i18n [key]="'My Profile'"></z-i18n>
        </h2>
        <div class="my-profile-actions">
          <button class="btn btn-cancel" 
                  (click)="onCancel()">
            <z-i18n [key]="'Cancel'"></z-i18n>
          </button>
          <button class="btn btn-primary profile-save-btn"
                  [disabled]="!form.dirty || isSubmitting"
                  [ngClass]="{'disabled': !form.dirty || isSubmitting}"
                  (click)="onSubmit()">
            <z-i18n [key]="'Save'"></z-i18n>
          </button>
        </div>
      </div>
    </div>

    <div class="profile-detail">
      <div class="profile-detail-container">
        <div class="form-group">
          <label class="required"><z-i18n [key]="'Full Name'"></z-i18n></label>
          <z-input formControlName="fullName" placeholder="Killan" />
          <z-error controlName="fullName"></z-error>
        </div>
        <div class="form-group">
          <label class="required"><z-i18n [key]="'Email'"></z-i18n></label>
          <z-input type="email" formControlName="email" placeholder="James" />
          <z-error controlName="email"></z-error>
        </div>
        <div class="form-group">
          <label><z-i18n [key]="'First Name'"></z-i18n></label>
          <z-input formControlName="firstName" placeholder="James" />
        </div>
        <div class="form-group">
          <label><z-i18n [key]="'Last Name'"></z-i18n></label>
          <z-input formControlName="lastName" placeholder="James" />
        </div>
        <div class="form-group">
          <label><z-i18n [key]="'Phone'"></z-i18n></label>
          <z-input type="number" formControlName="phone" placeholder="Phone"/>
        </div>
        <div class="form-group">
          <label class="required"><z-i18n [key]="'Role'"></z-i18n></label>
          <z-input [disabled]="user?.role === 'member'" formControlName="role" placeholder="Role"/>
          <z-error controlName="role"></z-error>
        </div>
      </div>
    </div>
  </form>
</div>