@use '@angular/material' as mat;

:host {
  @include mat.tabs-overrides((
    active-ripple-color: transparent,
    disabled-ripple-color: transparent,
    inactive-ripple-color: transparent,
    active-indicator-color: #5051f9,
    active-label-text-color: #5051f9,
    inactive-hover-label-text-color: #5051f9,
    inactive-label-text-color: #6A7181,
    divider-color: white
  ));
}
::ng-deep {
  .mat-mdc-tab-header {
    @apply bg-white rounded;
  }
  .mat-mdc-tab-body-wrapper {
    .mat-mdc-tab-body {
      @apply h-full px-4 pt-4 pb-2 mt-5 bg-white rounded;
    }
  }
  .mat-mdc-tab-labels {
    .mdc-tab {
      @apply min-w-[120px] font-bold;
      font-family: "DM Sans", sans-serif !important;
    }
  }
  .mat-mdc-tab:focus .mdc-tab__text-label,
  .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label,
  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
    @apply text-[var(--primary-blue)] #{!important};
  }
  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    @apply border-[2px] border-[var(--primary-blue)] rounded-t-md #{!important};
  }
}

.project-settings {
  @apply px-6 mt-6 h-full;
}
