<div class="select-container">
  <input
    class="z-input"
    [placeholder]="placeholder"
    [formControl]="inputControl"
    (focus)="toggleDropdown()"
    (input)="onInputChange($event)"
  />

  <div *ngIf="dropdownOpen" class="dropdown-container">
    <div *ngFor="let option of filteredOptions"
      class="option-item"
      (click)="selectOption(option)">
      {{ option[labelKey] }}
    </div>
    <div *ngIf="filteredOptions.length === 0" class="option-no-value">
      <z-i18n [key]="'No Results'"></z-i18n>
    </div>
  </div>
</div>
