<div class="sidebar">
  <!-- Sidebar -->
  <div class="sidebar-container" [ngClass]="isCollapsed ? 'w-20' : 'w-[260px]'">
    <div class="btn-toggle-wrapper" [ngClass]="(isCollapsed ? 'px-5' : 'px-4')">
      <button 
        (click)="toggleSidebar()"
        class="btn btn-cancel btn-toggle">
        <img class="size-4 transition-transform duration-300"
          [ngClass]="isCollapsed ? 'rotate-180' : ''"
          src="/assets/icons/arrow-right.svg" alt="">
      </button>
    </div>

    <!-- Menu Items -->
    <nav class="pt-2">
      <div class="space-y-2" [ngClass]="isCollapsed ? 'px-2 w-16 mx-auto' : 'px-4'">
        <a
          *ngFor="let item of menuItems"
          [routerLink]="item.path"
          class="item-wrapper"
          [ngClass]="[
            isCollapsed ? 'sidebar-collapsed' : 'sidebar-expanded',
            item.active ? 'sidebar-active' : 'sidebar-hover'
          ]"
        >
          <span class="material-symbols-rounded" 
                [ngClass]="{ 'mr-3': !isCollapsed }">
            {{ item.icon }}
          </span>
          
          <z-i18n *ngIf="!isCollapsed" [key]="item.label"></z-i18n>
          <div *ngIf="isCollapsed" class="tooltip">{{ item.label }}</div>
        </a>
      </div>
    </nav>
  </div>
</div>