<div class="sidebar">
  <div class="workspace-container">
    <!-- Header Section -->
    <div class="sidebar-header">
      <!-- User Profile -->
      <div class="workspace">
        <div class="workspace-icon-wrapper">
          <div class="workspace-icon ">
            <svg class="size-6" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
      </div>
      
      <!-- Add Button -->
      <div class="flex items-center justify-center">
        <button 
          (click)="onAddClick()"
          class="workspace-add-btn">
          <svg class="size-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div [class]="'sidebar-container ' + 
               (isCollapsed ? 'w-20' : 'w-60')">
    
    <!-- Toggle Button -->
    <div [class]="'btn-toggle-wrapper ' + (isCollapsed ? 'px-6' : 'px-4')">
      <button 
        (click)="toggleSidebar()"
        class="btn-toggle">
        <svg [class]="'size-4 transition-transform duration-300 ' + (isCollapsed ? 'rotate-180' : '')" 
             fill="white" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
    </div>

    <!-- Menu Items -->
    <nav class="pt-4">
      <div [class]="'space-y-2 ' + (isCollapsed ? 'px-2' : 'px-4')">
        <div 
          *ngFor="let item of menuItems" 
          (click)="onMenuClick(item)"
          [class]="'item-wrapper ' + 
                   (isCollapsed ? 'px-1 py-3 justify-center' : 'px-4 py-3') + ' ' +
                   (item.active ? 'sidebar-active' : 'sidebar-hover')">
          
          <!-- Icons -->
          <div [class]="isCollapsed ? '' : 'mr-3'">
            <img [src]="item.icon" class="size-5" alt="">
          </div>
          
          <!-- Menu Label -->
          <span *ngIf="!isCollapsed" class="font-medium transition-opacity duration-300">
            {{ item.label }}
          </span>
          
          <!-- Tooltip for collapsed state -->
          <div *ngIf="isCollapsed" 
               class="tooltip">
            {{ item.label }}
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>