<div class="multi-filter-container">
  <!-- Main Filter Input -->
  <div class="relative">
    <button class="toggle-dropdown-btn" (click)="toggleMainDropdown()">
      <div class="multi-filter-wrapper">
        <span class="filter-by">
          <z-i18n [key]="'Filter By'"></z-i18n>
        </span>
        <div class="filter-content-container">
          <!-- Applied Filters Tags -->
          <div class="truncate text-xl" *ngIf="appliedFilters.length > 0">
            <div class="filter-content-wrapper"
              *ngFor="let filter of appliedFilters">
              <span class="filter-item-content">
                {{ filter.displayText }}
              </span>
              <button (click)="removeFilter(filter, $event)" class="clear-filter-btn">
                <span class="material-symbols-rounded text-[14px]">close</span>
              </button>
            </div>
          </div>
        </div>
        
        <div class="flex items-center">
          <button *ngIf="appliedFilters.length > 0"
            (click)="clearAllFilters()"
            class="clear-all-btn">
            <span class="material-symbols-rounded z-icon p-1">close</span>
          </button>
          <span class="material-symbols-rounded transition-all duration-200"
            [ngClass]="{'-rotate-180': !isMainDropdownOpen}">
            arrow_drop_down
          </span>
        </div>
      </div>
    </button>

    <div *ngIf="isMainDropdownOpen" class="dropdown-container" (click)="$event.stopPropagation()">
      <div *ngFor="let field of filterFields">
        <div class="filter-field-item" (click)="selectField(field)">
          {{ field.label }}
        </div>
        <div class="selected-container"
          *ngIf="getSelectedLabelsWithValues(field.key).length > 0">
          <div class="selected-item"
            *ngFor="let option of getSelectedLabelsWithValues(field.key)"
            (click)="removeFieldValue(field.key, option.value, $event)">
            {{ option.label }}
            <span class="material-symbols-rounded text-[14px] ml-1">
              close
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Value Selection Dropdown -->
  <div *ngIf="selectedField && isValueDropdownOpen" 
    class="filter-options-container">
    <div class="filter-options-wrapper">
      <div class="filter-options-header">
          <span class="material-symbols-rounded back-icon" (click)="toggleMainDropdown()">
            arrow_back_ios
          </span>
          <div class="filter-options-title">
            <z-i18n [key]="selectedField.label"></z-i18n>
          </div>
      </div>
      <div>
        <div class="px-4">
          <z-select
            *ngIf="selectedField"
            [options]="selectedField.options || []"
            [(value)]="selectedValues"
            [labelKey]="'label'"
            [valueKey]="'value'"
            [placeholder]="'Chọn trạng thái'"
            (valueChange)="onSelectChange()"
          ></z-select>
          <div class="mt-3">
            <span *ngIf="selectedValues.length > 0" class="font-semibold">
              <z-i18n [key]="'SELECTED'"></z-i18n>
            </span>
          </div>
        </div>
        <div class="mt-1">
          <div class="selected-option" 
              *ngFor="let option of selectedValues"
              (click)="removeSelectedValue(option, $event)">
            <span class="material-symbols-rounded text-[16px] text-[var(--primary-blue)]">
              check_box
            </span>
            {{ getLabelForValue(option) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>