<div class="multi-filter-container">
  <!-- Main Filter Input -->
  <div class="relative">
    <button class="toggle-dropdown-btn" (click)="toggleMainDropdown()">
      <div class="multi-filter-wrapper">
        <span class="filter-by">
          <z-i18n [key]="'Filter By'"></z-i18n>
        </span>
        <div class="filter-content-container">
          <!-- Applied Filters Tags -->
          <div class="truncate text-xl" *ngIf="appliedFilters.length > 0">
            <div class="filter-content-wrapper"
              *ngFor="let filter of appliedFilters">
              <span class="filter-item-content">
                {{ filter.displayText }}
              </span>
              <button (click)="removeFilter(filter, $event)" class="clear-filter-btn">
                <span class="material-symbols-rounded text-[14px]">close</span>
              </button>
            </div>
          </div>
        </div>
        
        <div class="flex items-center">
          <!-- Clear All Button -->
          <button
            *ngIf="appliedFilters.length > 0"
            (click)="clearAllFilters()"
            class="clear-all-btn"
          >
            <span class="material-symbols-rounded text-[16px] p-1 font-semibold">close</span>
          </button>
          <span class="material-symbols-rounded transition-colors duration-200"
            [ngClass]="[isMainDropdownOpen ? 'text-[var(--text-black)]' : 'text-[var(--text-grey)]']">
            arrow_drop_down
          </span>
        </div>
      </div>
    </button>

    <!-- Main Dropdown - Filter Fields -->
    <div *ngIf="isMainDropdownOpen" class="dropdown-container" (click)="$event.stopPropagation()">
      <div *ngFor="let field of filterFields">
        <!-- Nhấn vào label để mở chọn -->
        <div class="filter-field-item font-medium text-sm cursor-pointer" (click)="selectField(field)">
          {{ field.label }}
        </div>

        <!-- Các giá trị đã chọn, có thể nhấn để xóa -->
        <div class="flex flex-wrap gap-1 p-2"
          *ngIf="getSelectedLabelsWithValues(field.key).length > 0">
          <div class="flex items-center text-xs bg-blue-100 text-blue-800 px-2 py-0.5 rounded-full hover:bg-blue-200 transition-colors cursor-pointer"
            *ngFor="let option of getSelectedLabelsWithValues(field.key)"
            (click)="removeFieldValue(field.key, option.value, $event)"
          >
            {{ option.label }}
            <span class="material-symbols-rounded text-[14px] ml-1 leading-none">
              close
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Value Selection Dropdown -->
  <div *ngIf="selectedField && isValueDropdownOpen" 
  class="filter-options-container" 
  (click)="$event.stopPropagation()">
    <div class="py-4 space-y-3">
      <div class="relative px-4 pb-2 mb-4 border-b border-[var(--border-color)]">
          <span class="material-symbols-rounded absolute bottom-[2px] mb-1 p-1 text-[16px] text-gray-400 hover:text-gray-600 transition-colors cursor-pointer"
                (click)="toggleMainDropdown()">
            arrow_back_ios
          </span>
          <div class="flex-1 text-center text-sm font-semibold text-[var(--text-black)]">
            {{ selectedField.label }}
          </div>
      </div>
      <div class="px-4">
        <z-select
          *ngIf="selectedField"
          [options]="selectedField.options || []"
          [(value)]="selectedValues"
          [labelKey]="'label'"
          [valueKey]="'value'"
          [placeholder]="'Chọn trạng thái'"
          (valueChange)="onSelectChange()"
        ></z-select>
        <div class="mt-2 text-gray-400">
          <z-i18n [key]="'Search and select to filter by.'"></z-i18n>
          <span *ngIf="selectedValues.length > 0" class="mt-2 font-semibold text-[var(--text-black)]"><z-i18n [key]="'SELECTED'"></z-i18n></span>
        </div>
        <div *ngFor="let option of getSelectedLabelsWithValues(selectedField.key)">
          {{ option.label }}
        </div>
      </div>
    </div>
  </div>
</div>