<div class="signin">
  <div class="signin-left">
    <div class="w-full max-w-md">
      <div class="flex justify-end mb-56">
        <button class="btn btn-outline signup-btn" (click)="onSignUp()">
          Sign Up
        </button>
      </div>

      <div>
        <h2 class="section-heading mb-2">Sign In</h2>
        <p class="text-[#666] mb-8">Welcome back! Please login to your account.</p>
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="space-y-6">
          <div class="form-group">
            <label for="email" class="input-label">Email Address</label>
            <input class="z-input" type="email" formControlName="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password" class="input-label">Password</label>
            <input class="z-input" type="password" formControlName="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary signin-btn">Sign In</button>
        </form>
      </div>
    </div>
  </div>

  <div class="signin-right">
    <img 
      src="/assets/img/bg-auth-right.png" 
      alt="Productivity Background" 
      class="signin-bg">
    
    <div class="signin-right-wrapper">
      <h1 class="text-5xl font-bold leading-tight text-end">
        Welcome Back<br>Sign in to<br>continue.
      </h1>
      <p class="text-sm opacity-80 text-end">From Dile With Love !!!</p>
    </div>
  </div>
</div>
