<div class="task-list-container">
  <div class="px-6 mt-10">
    <div class="flex items-center gap-1">
      <img src="./assets/img/fire.png" class="size-10">
      <span class="section-heading">Task</span>
    </div>
    <button class="btn btn-primary mt-4" (click)="onCreate()">
      <z-i18n [key]="'Create Task'"></z-i18n>
    </button>
  </div>

  <div cdkDropListGroup class="task-column-container">
    @for (status of taskStatuses; track status.code) {
      <div class="task-column">
        <div class="task-column-header">
          <span class="task-column-header-title">
            {{ status.name | titlecase }} ({{ taskGroups[status.code].length || 0 }})
          </span>
          <div class="task-column-header-action">
            <button class="btn-icon btn-more">
              <span class="material-symbols-rounded z-icon--lg">more_horiz</span>
            </button>
            <button class="btn-icon btn-add" (click)="onCreate(status.code)">
              <span class="material-symbols-rounded z-icon--lg text-[var(--primary-blue)]">add</span>
            </button>
          </div>
        </div>
        <div class="task-list"
          cdkDropList
          [cdkDropListData]="taskGroups[status.code]"
          (cdkDropListDropped)="drop($event, status.code)"
        >
          @for (item of taskGroups[status.code]; track item.taskKey) {
            <div class="task-item" cdkDrag>
              <div class="task-item-top">
                <a
                  class="task-key text-blue-600 hover:underline"
                  href="/task-mngt/task-list/{{ item.taskKey }}"
                >
                  {{ item.taskKey }}
                </a>
                <button class="btn-icon btn-more" [matMenuTriggerFor]="taskMenu">
                  <span class="material-symbols-rounded text-xl">more_horiz</span>
                </button>
                <mat-menu #taskMenu="matMenu">
                  <button class="btn btn-normal gap-2">
                    <span class="material-symbols-rounded">edit</span>
                    <span>Cập nhật</span>
                  </button>
                  <button class="btn btn-normal gap-2" (click)="onDeleteTask(item)">
                    <span class="material-symbols-rounded">delete</span>
                    <span>Xóa</span>
                  </button>
                </mat-menu>
              </div>
              <div class="task-content">
                <h3 class="section-text truncate">{{ item.title }}</h3>
                <p class="section-text-sm task-description">{{ item.description }}</p>
                <div class="mt-6 flex flex-wrap justify-between gap-2">
                  <div class="text-xs text-gray-500 flex items-center gap-2">
                    <span
                      class="flex items-center justify-center w-6 h-6 rounded-full bg-blue-500 text-white font-medium"
                      title="Assignee: {{ item.assignee }}"
                    >
                      {{ item.assignee.charAt(0).toUpperCase() }}
                    </span>
                    <span>{{ item.assignee }}</span>
                  </div>
                  <div class="flex flex-wrap gap-2">
                    <span
                      class="inline-block px-3 py-1 text-xs font-bold rounded-[4px]"
                      [ngStyle]="{
                        'background-color': getPriorityColor(item.priority, 0.1),
                        'color': getPriorityColor(item.priority)
                      }"
                    >
                      {{ getPriorityName(item.priority) }}
                    </span>
                    <span class="inline-block px-3 py-1 text-xs font-medium rounded-[4px]"
                          [ngStyle]="{
                            'background-color': getStatusColor(item.status, 0.1),
                            'color': getStatusColor(item.status)
                          }">
                      <button mat-button [matMenuTriggerFor]="statusMenu" class="p-0 min-w-0 bg-transparent font-bold border-none outline-none"
                              (click)="selectedTask = item">
                        {{ getStatusName(item.status) }}
                      </button>
                      <mat-menu #statusMenu="matMenu">
                        <button mat-menu-item *ngFor="let status of taskStatuses"
                                (click)="onChangeTaskStatus(selectedTask, status.code)"
                                [ngStyle]="{ 'color': getStatusColor(status.code) }">
                          {{ status.name }}
                        </button>
                      </mat-menu>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
