<div class="app-container">
  <div class="position-relative">
    <app-side-bar
      [isCollapsed]="isCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    >
    </app-side-bar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isCollapsed }"
      (click)="onSidebarToggle()"
    >
      <i [class]="isCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'"></i>
    </button>
  </div>

  <main class="content" [ngClass]="{ 'content-expanded': isCollapsed }">
    <div class="content-inner">Content goes here</div>
  </main>
</div>