@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif; 
}

:root {
  --primary-blue: #3754DB;
  --primary-yellow: #FBBE37;
  --text-black: #16171D;
  --text-grey: #666;
  --text-color-sm: #6E7391;
  --label-color: #2C2E3A;
  --border-color: #A8ABBD;
}

// ========== Common styles ==========
.section-heading {
  @apply text-[32px] text-[var(--text-black)] font-bold;
}

.section-title {
  @apply text-[20px] text-[var(--text-black)] font-semibold;
}

.section-text {
  @apply text-[16px] text-[var(--text-grey)] font-normal;
}

.section-text-sm {
  @apply text-[14px] text-[var(--text-color-sm)] font-normal;
}

// =========== Button ===========

.btn {
  @apply flex items-center justify-center h-[39px] px-5 rounded-md transition-all 
  duration-150 ease-in cursor-pointer font-semibold tracking-wide;
}

.btn-primary {
  @apply px-5 bg-[var(--primary-blue)] text-white hover:bg-[#344fc5];
}

.btn-outline {
  @apply border-[2px] border-[var(--primary-blue)] text-[var(--primary-blue)] 
  font-semibold bg-transparent hover:bg-[var(--primary-blue)] hover:text-white;
}

// =========== Input ===========
.z-input {
  @apply w-full h-[50px] px-4 border border-[var(--border-color)] rounded-md focus:ring-1
  focus:ring-[var(--primary-blue)] focus:border-[var(--primary-blue)] outline-none 
  transition-colors duration-300 ease-out;
}

.z-text-area {
  @apply py-2 h-[100px];
}

.input-label {
  @apply block text-base font-normal text-[var(--label-color)] mb-2;
}
